.checkout-page {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.checkout-container {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.payment-section {
  flex: 0 1 420px;
  max-width: 420px;
}

.summary-section {
  position: relative;
}

.language-switcher-container {
  position: absolute;
  top: -30px;
  right: 0;
  z-index: 10;
}

.language-switcher {
  display: flex;
  gap: 4px;
}

/* States of language switchers*/
.lang-btn {
  background: none;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.2s ease;
  color: #CCCCCC; /* Basic */
}

.lang-btn:hover {
  color: #999999; /* Hover */
}

.lang-btn.active {
  background: none;
  color: #333333; /* When active (Lang is being used on the page) */
}

/* Bottom line */
.powered-by-container {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
}

.powered-by-text {
  font-size: 14px;
  color: #757575;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.solid-text {
  font-weight: 500;
}