.order-summary {
  border-radius: 10px;
  padding: 24px;
  background-color: #f8f9fb; /* тепер увесь блок сірий */
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Заголовок */
.order-summary h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #222;
}

.order-description-label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin: -12px 0 16px 0;
  display: flex;
  justify-content: space-between;
}
.char-limit {
  font-weight: normal;
  color: #888;
}

.product-info {
  padding: 0;
  margin-bottom: 20px;
  border-top: 1px solid #e0e0e0; /* верхня роздільна лінія */
  padding-top: 16px;
}

.product-name {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 6px 0;
  color: #333;
}

.product-description {
  font-size: 14px;
  color: #666;
  margin: 0;
}

/* Нижня роздільна лінія */
.price-summary {
  padding-top: 16px;
  border-top: 1px solid #e0e0e0;
  text-align: right;
}

.free-trial {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  margin: 0 0 4px 0;
}

.price-details {
  font-size: 14px;
  color: #444;
  margin: 0;
}

/*
.price-amount {
  font-weight: 600;
  color: #000;
}
*/